@font-face {
    font-family: "AfterNight";
    src: url('../fonts/After_Night.ttf');
}

/*yoan*/
/*Menu all */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
      color: #d73351;
      border: 1.5px solid #d73351;
    }
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-nav{
    /* width: 20%; */
    text-align: center;
}

@media screen and (max-width:767px) {
    .bg1{
        background-color: white;  
        height: 600px;      
    }
    .par{
    color: black;
}
.imgart1{
   text-align: center;
}
    .slider{
        background-color: #2c2c2c;       
    }
    .slide1{
        width: 50%;
        height: 50%;
    }
    .slide2{
        width: 50%;
        height: 50%;
    }
    .imgbarre{
    text-align: center;
    padding: 10%;
    }
    .carousel-control-prev-icon{
        content: "";
        background-image: url("../media/fleche-gauche.png");
       
    }
    .carousel-control-next-icon{
        content: "";
        background-image: url("../media/fleche-droite.png");
    }
    .carousel-indicators li:before{
        content: "";
        background-image: url("../media/rond1.png");
    }
    .carousel-indicators li {
        cursor: pointer;
        width : 15px;
        height : 15px;
        border-radius : 50%;
        background-color: #2c2c2c;
        border : 1px solid #d73351;  
    }
    .carousel-indicators .active {

        background-color: #d73351;
    }
    /*Menu*/
    .navbar-nav{
        width: 100px;
        text-align: center;
    }
    .container{
        padding: 0;
    }
    .burger{
      width: 100%;
      height: auto;
    }
    .navbar-light .navbar-toggler-icon{
        background-image: none;
    }
    .navbar-light .navbar-toggler{
        border: none;
    }
    .navbar-brand{
        padding: 0;
    }
    .navbar{
        padding: 0;
    }
    .navbar-light .navbar-toggler{
        margin-right: 30px;
    }
    .logo{
        /* width: 100px; */
        /* height: 50px; */
    }
    /*parti NICOLAS*/
    .contact {
        background-image: url("../media/background-contact.png");
        height: 695px;
        width: 100%;
    }
    .subtitle {
        font-family: "AfterNight";
        color: #d73351;
        text-align: center;
        padding-top: 30px;
        font-size: 18px;
    }
    .bgcontact {
        width: 100%;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.7);
        margin-top: 20px;
    }
    hr{ 
        background-color:  #d73351;
    }
    
    input:placeholder-shown {
        color: black;
    }
    input.form-control-plaintext {
        width: 100%;
        margin-top: 40px;
    }
    textarea.form-control-plaintext {
        width: 125%;
        height: 100px;
        margin-top: 40px;
    }
    .btn{
        background-color: #d73351;
        text-transform: uppercase;
        font-size: 19px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        margin-top: 48px;
    }
    .bg2 {
        background-color: #d73351;
        height: 220px;
    }
    .socialnet {
        display: flex;
        justify-content: space-around;
        margin-top: 27px;
        margin-bottom: 46px;
    }
    .facebook {
        width: 52px;
        height: 52px;
    }
    .instagram {
        width: 52px;
        height: 52px;
    }
    .twitter {
        width: 52px;
        height: 52px;
    }
    .google {
        width: 52px;
        height: 52px;
    }
    p {
        color: white;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    
    .slider{
        background-color: #2c2c2c;       
    }
    .slide1{
        width: 50%;
        height: 50%;
    }
    .slide2{
        width: 50%;
        height: 50%;
    }
    .imgbarre{
    text-align: center;
    padding: 10%;
    }
    .carousel-control-prev-icon{
        content: "";
        background-image: url("../media/fleche-gauche.png");
    }
    .carousel-control-next-icon{
        content: "";
        background-image: url("../media/fleche-droite.png");
    }
    .carousel-indicators li {
        cursor: pointer;
        width : 15px;
        height : 15px;
        border-radius : 50%;
        background-color: #2c2c2c;
        border : 1px solid #d73351;  
    }
    .carousel-indicators .active {

        background-color: #d73351;
    }
    .contact {
        background-image: url("../media/background-contact.png");
        height: 695px;
        width: 100%;
    }
    .subtitle {
        font-family: "AfterNight";
        color: #d73351;
        text-align: center;
        padding-top: 50px;
        font-size: 24px;        
        padding-bottom:30px;
    }
    .bgcontact {
         background-color: rgba(255, 255, 255, 0.7);       
    }
    input:placeholder-shown {
        color: black;
    }
    input.form-control-plaintext {
        width: 100%;
        margin-top: 30px;
    }
    textarea.form-control-plaintext {
        width: 125%;
        height: 100px;
        margin-top: 90px;
    }
    hr{ 
        background-color:  #d73351;
    }
    
    .btn{
        background-color: #d73351;
        text-transform: uppercase;
        font-size: 19px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        margin-top: 90px;
        margin-bottom:77px;
    }

    /*Menu*/
    .navbar-light .navbar-toggler{
        border: none;
    }
    .navbar-brand{
        padding: 0;
    }
    .navbar{
        padding: 0;
    }
       /*.navbar-light .navbar-toggler{
        margin-right: 30px;
    }*/


    /*NICOLAS*/
    .bg2 {
        background-color: #d73351;
        height: 220px;
    }
    .socialnet {
        display: flex;
        justify-content: center;
        margin-top: 27px;
        margin-bottom: 46px;
    }
    .facebook {
        margin-right: 30px;
    }
    .twitter {
        margin-left: 30px;
        margin-right: 30px;
    }
    p {
        color: white;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

}
@media screen and (min-width:991px) and (max-width:1199px) {
    .slider{
        background-color: #2c2c2c;       
    }
    .slide1{
        width: 50%;
        height: 50%;
    }
    .slide2{
        width: 50%;
        height: 50%;
    }
    .imgbarre{
    text-align: center;
    padding: 10%;
    }
    .carousel-control-prev-icon{
        content: "";
        background-image: url("../media/fleche-gauche.png");
    }
    .carousel-control-next-icon{
        content: "";
        background-image: url("../media/fleche-droite.png");
    }
    .carousel-indicators li {
        cursor: pointer;
        width : 15px;
        height : 15px;
        border-radius : 50%;
        background-color: #2c2c2c;
        border : 1px solid #d73351;  
    }
    .carousel-indicators .active {

        background-color: #d73351;
    }
    .contact {
        background-image: url("../media/background-contact.png");
        height: 695px;
        width: 100%;
    }
    .subtitle {
        font-family: "AfterNight";
        color: #d73351;
        text-align: center;
        padding-top: 50px;
        font-size: 24px;        
        height:200px;
    }
    .bgcontact {
             background-color: rgba(255, 255, 255, 0.7);        
             padding-bottom: 15px;       
    }
    input:placeholder-shown {
        color: black;
    }
    input.form-control-plaintext {
        width: 100%;
        margin-top: 30px;
    }
    textarea.form-control-plaintext {
        width: 125%;
        height: 100px;
        margin-top: 90px;
    }
    hr{ 
        background-color:  #d73351;
    }
    
    .btn{
        background-color: #d73351;
        text-transform: uppercase;
        font-size: 19px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        margin-top: 90px;
        margin-bottom:77px;
    }

    .bg2 {
        background-color: #d73351;
        height: 220px;
    }
    .socialnet {
        display: flex;
        justify-content: center;
        margin-top: 27px;
        margin-bottom: 46px;
    }
    .facebook {
        margin-right: 30px;
    }
    .twitter {
        margin-left: 30px;
        margin-right: 30px;
    }
    p {
        color: white;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

}
@media screen and (min-width:1200px){
    .slider{
        background-color: #2c2c2c;
    }
    .slide1{
        width: 30%;
        height: 30%;
        padding-bottom: 50px;
    }
    .slide2{
        width: 30%;
        height: 30%;
        padding-bottom: 50px;       
    }
    .carousel-control-prev{
        margin-bottom: 70px;
    }
    .carousel-control-prev-icon{
        content: "";
        background-image: url("../media/fleche-gauche.png");  
        background-size: 200%;  
    }
    .carousel-control-next{
        margin-bottom: 70px;
    }
    .carousel-control-next-icon{
        content: "";
        background-image: url("../media/fleche-droite.png");
        background-size: 200%;      
    } 
    .carousel-indicators li {
        cursor: pointer;
        width : 15px;
        height : 15px;
        border-radius : 50%;
        background-color: #2c2c2c;
        border : 1px solid #d73351;  
    }
    .carousel-indicators .active {

        background-color: #d73351;
    }
    .contact {
        background-image: url("../media/background-contact.png");
        padding-bottom: 100px;
    }
        .subtitle {
        font-family: "AfterNight";
        color: #d73351;
        text-align: center;      
        font-size: 30px;        
        height:130px;
        padding-top: 50px;
     
    }
    .bgcontact {
        background-color: rgba(255, 255, 255, 0.7);
    }
    input:placeholder-shown {
        color: black;
    }
    input.form-control-plaintext {
        width: 45%;
        margin-top: 80px;
        margin-left: 150px;
        margin-right: 150px;
  
    }
    textarea.form-control-plaintext {
        width: 90%;
        height: 100px;
        margin-top: 90px;
        margin-left: 150px;
        margin-right: 150px;

    }
    hr{ 
        background-color:  #d73351;
        margin-left: 150px;
        margin-right: 150px;
    }
        
    .btn{
        background-color: #d73351;
        text-transform: uppercase;
        font-size: 19px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        margin-top: 90px;
        margin-bottom:77px;
    }

    .bg2 {
        background-color: #d73351;
        height: 220px;
    }
    .socialnet {
        display: flex;
        justify-content: center;
        margin-top: 27px;
        margin-bottom: 46px;
    }
    .facebook {
        margin-right: 30px;
    }
    .twitter {
        margin-left: 30px;
        margin-right: 30px;
    }
    p {
        color: white;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

}
